.primary-nav {
   
}

#item1 {
    color: cyan;
}
#item2 {
    color: greenyellow;
}
#item3 {
    color: lightsalmon;
}
#item4 {
    color: palevioletred;
}
#item5 {
    color: slateblue;
}
#item6 {
    color: whitesmoke;
}
#item7 {
    color: darkkhaki;
}