.primary-nav {
    list-style: none;
    background-color: rgb(167, 157, 157);
}

.reddit {
    background-color: rgb(32, 32, 82);
}

/*
------------------------------------------
Items for NAV section
------------------------------------------
*/
#item1 {
    color: cyan;
}
#item2 {
    color: greenyellow;
}
#item3 {
    color: lightsalmon;
}
#item4 {
    color: palevioletred;
}
#item5 {
    color: slateblue;
}
#item6 {
    color: whitesmoke;
}
#item7 {
    color: darkkhaki;
}

/*
------------------------------------------
Item For Reddit Section
------------------------------------------
*/

#item8 {
    color: yellow;
}
#item9 {
    color: darkorchid;
}

h3 {
    color: skyblue;
}